.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #474647;
}

.LoginForm label input {
    border: 1px solid #474647;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.LoginForm label {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login {
    margin-top: 50px;
}

.form_error {
    font-size: 1em;
    font-style: italic;
    color: crimson;
    margin: 5px;
}

@media screen and (min-width: 768px) {
    #LoginForm__user_name, #LoginForm__password {
        font-size: 1.3em;
    }

    h2 {
        font-size: 2em;
    }
}