.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #474647;
}

.LoginForm input {
    border: 1px solid #474647;
    font-size: 0.9em;
}

.LoginForm div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.login {
    margin-top: 50px;
}

@media screen and (min-width: 768px) {
    #LoginForm__user_name, #LoginForm__password {
        font-size: 1.3em;
    }

    h2 {
        font-size: 2em;
    }
}