*, *:before, *:after {
    box-sizing: border-box;
  }

.LandingPage__section {
    margin-top: 50px;
}

.LandingPage {
    padding: 10px;
    margin-bottom: 30px;
}

.LandingPage__section p {
    color: #474647;
    text-align: center;
    opacity: 0.8;
    font-style: italic;
}

  .img-container {
    position: relative;
    display: inline-block;
  }

  .LandingPage_img {
    width: 100%;
    max-width: 400px;
    border: none;
    outline: none;
  }

  .LandingPage_img:hover {
    outline: none;
    box-shadow: none;
  }

  .img-attrib {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 .5em .5em 0;
    padding: .25em;
    color: white;
    background-color: rgba(0,0,0,.2);
    opacity: 0;
    transition: opacity 0.3s ease-out, max-height 300ms;
  }

  .img-container:hover .img-attrib {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  a {
    text-decoration: none;
  }
  
  body {
    padding: 1em;
  }

  .text_image {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

#underline_header {
    border-top: 2px solid #687D76;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .LandingPage__section input {
        font-size: 1.3em;
    }
}