 .Header {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    background-color: #F4F2F3;
    color: #474647;
  }

  .Header ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  
  .Header h1 {
    margin: 0;
  }
  
  .Header a {
    color: #474647;
    text-decoration: none;
  }

  .Header__not-logged-in {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }

  .Header ul li {
      display: inline-block;
      padding: 10px;
      box-sizing: border-box;
  }

  #hamburger {
      display: none;
  }

  .App__header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color:  #F4F2F3;
  }

  @media screen and (max-width: 768px) {


    #hamburger {
        display: block;
        padding: 5px;
        cursor: pointer;
    }

    .Header ul li {
        display: block;
        background: #A49295;
    }

    .Header__closed ul {
        display: none; 
    }

    .Header__open ul {
        display: block;
        position: absolute;
        right: 8px;
        top: 80px;
    }

    .Header__open ul li {
      font-size: 1.2em;
      cursor: pointer;
    }

  

    .Header__logged-in {
      transition-timing-function: ease-in-out;
    }
   

  }

  @media screen and (min-width: 768px) {
    .Header__open ul li {
      font-size: 1.7em;
    }
  }

 