.SignUpForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #474647;
}

.SignUpForm label input {
    border: 1px solid #474647;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.SignUpForm label {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}